body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    -webkit-text-size-adjust: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: middle;
    border: none;
}

a img {
    border: none;
}

.sum {
    position: relative;
}

#h {
    background: #32598b;
    padding: 0;
    font-size: 85%;
}

.h-menu {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.h-menu a {
    color: #fff;
    font-weight: bold;
    margin-left: 0.8em;
}

.h-logo {
    width: 68px;
    padding-left: 3px;
}

#h-s {
    background: #b2d281;
    padding: 6px;
    font-size: 15px;
}

#h-s a, #h-s span {
    padding: 0 5px;
    color: #325b29;
    font-weight: bold;
    word-spacing: -0.2em;
    white-space: nowrap;
    line-height: 1.8em;
}

#h-s span {
    color: #75993d;
}


#boards td {
    padding: 4px 8px 4px 4px;
    border-bottom: 1px solid #ddd; 
}

#boards td a span, #boards td a strong, #permalink h3 a strong {
    font-weight: bold;
    color: blue;
    font-style: italic;
}

#stories a.digg-count {
    display: block;
    text-align: center;
    font-size: 90%;
    letter-spacing: -0.07em;
    color: #7b702a;
    font-weight: bold;
    text-decoration: none;
    width: 36px;
    height: 16px;
    padding: 9px 0 9px 0;
    margin: 0 0 0 8px;
    background: url(/static/shade-compact.gif) no-repeat;
}

#stories .sum-count {
    width: 36px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    display: none;
}

#stories td {
    padding: 4px 8px 4px 4px;
    border-bottom: 1px solid #ddd; 
}

#stories td a span, #stories td a strong, #permalink h3 a strong {
    font-weight: bold;
    color: #888;
    font-style: italic;
}

.permalink {
	padding: 12px;
}

.news-summary {
	text-overflow: ellipsis;
	overflow: hidden;
}

#permalink .digg-count {
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2;
	display: block;
	color: #736926;
	background: url(/static/shade-news.gif) no-repeat;
	text-decoration: none;
	width: 71px;
	height: 50px;
	padding: 11px 0;
	text-align: center;
}

#permalink td {
    vertical-align: top;
    padding: 15px;
}

#permalink td.sum-count {
    padding-right: 0;
    width: 70px;
}

#permalink .digg-count strong {
	font-size: 29px;
	font-weight: normal;
	letter-spacing: -2px;
	background: transparent;
}

#permalink .digg-it, #permalink .dugg-it {
	display: block;
	margin-top: 5px;
}

#permalink h3 a {
    color: #105CB6;
}

h3 {
	margin: 0 0 6px 0;
	font-size: 20px;
	line-height: 1em;
}

h3 a {
	white-space: normal;
}

h3 a, p a, .news-detail a {
	text-decoration: none;
	color: #105CB6;
}

#loadingCommentSpinner {
    padding: 10px;
}

.loadComments {
    margin: 0 0 3em 0;
}

.loadComments a {
    display: block;
    color: #105CB6;
    font-weight: bold;
    padding: 0 15px;
    font-size: 15px;
}

p {
	margin-top: 0;
}

.comments {
	background: url(/static/comments.gif) repeat-x;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 12px;
}

.comments ul, .comments li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.comments li {
	text-overflow: ellipsis;
	overflow: hidden;
}

.comments li a {
    text-decoration: none;
	color: #105CB6;
}

.comments h5 {
	border-top: 1px solid #ddd;
	padding-top: 4px;
	margin-bottom: 4px;
	font-weight: normal;
}

.comments h5, .comments h5 a {
	color: #999;
}

.comments h5 a {
	font-weight: bold;
	text-decoration: none;
}

.comments em {
	font-style: normal;
	font-weight: bold;
	color: green;
	display: block;
	float: right;
	font-size: 20px;
	margin: 0 0 7px 7px;
}

p {
	font-size: 14px;
}

h4 {
	margin: 0 0 -15px 0;
	color: #666;
}

.news-detail {
	font-size: 14px;
	color: #666;
	padding: 5px 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: 1px solid #ddd;
}

.trail {
	background: #eee;
	padding: 6px 10px;
	color: #999;
	font-weight: bold;
	font-size: 14px;
    min-height: 1px;
}

.trail a {
	text-decoration: none;
	color: #666;
}

.choice {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 0;
	background: #629b00;
	color: #fff;
	-webkit-border-radius: 5px;
	margin: 30px;
	text-align: center;
}

.choice-normal {
	background: #666;
}

.pagination strong {
	display: none;
}

a.next, a.previous {
	display: block;
	text-decoration: none;
	font-size: 18px !important;
	padding: 7px 0;
	background: #629b00 url(/static/previous.gif);
	color: #fff;
	margin: 8px 12px;
	width: 110px;
	height: 21px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}

a.next {
	background: #629b00 url(/static/next.gif);
	float: right;
}

a.previous {
	opacity: 0.6;
}

.pagination td {
    text-align: center;
}

/************************************************************************************************/

label {
	font-size: 14px;
	text-align: left;
	display: block;
	margin: 5px 0 2px 4px;
	font-weight: bold;
	color: #666;
}

label.inside {
    position: absolute;
    margin: 14px 0 0 15px;
    color: #BBB;
    text-shadow: none;
}

input {
	box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    font-size: 16px;
    font-weight: normal;	
}

input[type='text'], input[type='password'], select {
    width: 90%;
    font-size: 16px;
}

img.wss {
    float: left;
    display: inline;
}

#stories table td a {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

#topics {
    padding: 0 15px 15px 15px;
}

#topics dt {
    margin-top: 0.5em;
}

#topics dt a {
    font-weight: bold;
}

#topics a {
    color: #105CB6;
    display: block;
}

#login {
    display: block;
    padding: 0 15px;
}

#login h2 {
    font-size: 16px;
    padding-left: 5px;
}

.warning {
    color: #fff;
    background: #bc6100;
    padding: 10px;
    margin: 1em 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 85%;
}

.warning p {
    margin: 0;
}

.ads-header {
    padding: 10px;
    background: #eee;
}

#redirectCookie {
    margin: -15px auto 0;
    background: #efefef;
    padding: 0;
    text-align: center;
}

#redirectCookie a {
    font-size: .80em;
    color: #666;
    font-weight: bold;
    display: block;
    padding: 15px 0;
}

#redirectCookie a:hover {
    text-decoration: underline;
}

