body {
    font-family: helvetica;
	margin: 0;
	padding: 0;
	background: #ebebeb;
	-webkit-text-size-adjust:none;		  /* Turn off font resizing */
}

html {margin:0}

div {margin:0;}

h1 {
    font-family: Verdana;
    font-size: 20px;
    color: white;
	text-align: center;
	margin:0;
	padding: 3px;
/*	height: 32px; */
	background: #32598b;
}

.author {
    color: #6699FF;
}

div.floatright
{
    float: right;
}

.boardinth {
    color: darkcyan;
}

.threads {
    font-size: 14px;
}

.boards {
    font-size: 16px;
}

.posts {
    font-size:14px;
}

.nav{
    background: #b2d281;
    text-align: center;
    min-height:25px;
   /* height: 32px; */
}

.navjump{
    background: #b2d281;
    text-align: left;
}

input {
    height: 29px;
    width: 200px;
}

h1 a.logo {
	margin-top: 0;
	width: 118px;
	height: 24px;
	background: url(../images/logo_meuguiatv.png) no-repeat;
}

h1 a.logo span {
	display: none;
}

h2 {
	margin:0;
	padding-top:15px;		  
	padding-right:10px;		 
	padding-bottom:15px;	
	padding-left:10px;
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color: #383e40;
}

ul {	   
	padding: 0;	   
	margin-top:0;
    margin-bottom:0;
	
	font-size:14px;
	font-family: Helvetica;
/*	font-weight:bold; */
/*	color:black; */
	
	background-color: white;       /* Each list has a white background fill */
	
	border-width: 1px;		       /* Draw a rectangle around each list */
	border-style:solid ;
	border-color:#ddd;
	
/*	-webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
}


.logo {
	display: block;
	margin: 10px auto;
}

.auto300 {
    -webkit-transform: scale(0.625);
    -webkit-transform-origin: top left;
}

li {	
	list-style-type: none;	
	
	border-top-width:1px;	/* Create lines between cells. Each line is placed above each item */
	border-top-style:solid;
	border-top-color:#ddd;
    padding: 4px 6px;
    word-wrap: break-word; /* css3 */

}

li .metadados {
	font-size: 11px;
	color: #666;
	font-weight: normal;
}

li:first-child  {
	border-top:0;    /* Remove border above the first item of the list */
}


li a {  /* Handle the click/tap highlight. Highlight an entire cell with the iPhone grey background when tapped */

	display: block;   /* Sets the href to be a block rather than inline */
	
	/* The padding properties adjust the text content within the href block */

	padding: 3px;
	text-decoration: none;
	color:black;

}

li.home a {
	padding-left: 8px;
}

li a.normal {
    display: inline;
}

li.data_prog {
	height: 30px;
	line-height: 30px;
	margin:0;
	padding:0 0 0 8px;
	color:#666;
	background:rgb(217,217,217);
}


#erro {
	padding: 8px;
	height: 60px;
}


.button	
{	

   /* Set a button to be a block so its height and width can be adjusted */
	display: block;		    
	
	height: 30px;
	
	/* Use the highest button height to ensure that text will vertically align on all buttons */
	line-height: 28px;	 
	
	/* A button will expand to the width of its parent cell if no width is specified */
	width: 50px;			
	
	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	text-decoration: none;
	text-align: center;
	
	padding: 0;
	margin: 0;

}


.btnCenter	
{	
	display: inline-block;		    
	height: 25px;
	line-height: 25px;	 

    font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	text-decoration: none;
	text-align: center;
	
    padding: 0;
    padding-right: 5px;
	margin: 0;

    text-shadow: #f5f4d7 0px 1px 1px;
	border-width: 0px 5px 0px 12px;   
	/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
	/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
	-webkit-border-image: url(btn_center.png) 0 5 0 12;		
}

.btnCenterLeft
{	

	float: left;
   /* Set a button to be a block so its height and width can be adjusted */
	display: inline-block;		    
	
	height: 25px;
	line-height: 25px;
	
	/* A button will expand to the width of its parent cell if no width is specified */
/*	width: 70px;			*/
	
	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	text-decoration: none;
	text-align: center;
	
		
	padding: 0;
    padding-right: 5px;
	margin: 0;

    text-shadow: #f5f4d7 0px 1px 1px;
	border-width: 0px 5px 0px 12px;   
	
	
	/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
	/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
	-webkit-border-image: url(btn_center.png) 0 5 0 12;		

}

/*  Creates a button using a 18x30 image */
.btnLeft0
{
    float: left;
    text-decoration: none;
	text-align: center;

    display: inline-block;
	
	height: 25px;
	line-height: 25px;
    min-width: 20px;
	
	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	padding: 0;
	margin: 0;


	color: #3c491a;
	
	/* Put a 1 pixel blur black shadow below the button's text */
	text-shadow: #f5f4d7 0px 1px 1px;
	border-width: 0px 5px 0px 12px;   
	
	
	/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
	/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
	-webkit-border-image: url(btn_left.png) 0 5 0 12;		
}

.btnRight0
{
    float: right;
  	text-decoration: none;
	text-align: center;
    display: inline-block;
	
	height: 25px;
	line-height: 25px;
    min-width: 20px;

	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	padding: 0;
	margin: 0;

	border-width: 0px 12px 0px 5px;

	text-shadow: #f5f4d7 0px 1px 1px;
	letter-spacing: -1px;
	
	/* -webkit-border-image divides the rightButton image into three parts. */
	/* The right and left corners of the image are respectively 12 pixels and 5 pixels wide. */
	/* This leaves 1 pixel for the midlle part of the image.		*/
	-webkit-border-image: url(btn_right.png) 0 12 0 5;
}

.btnCenterRight	 
{
    float: right;
  	text-decoration: none;
    display: inline-block;
	
	height: 25px;
	line-height: 25px;			
    min-width: 20px;

	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica;
	color: #3c491a;
	
	padding: 0;
	margin: 0;

    border-width: 0px 12px 0px 5px;
	text-shadow: #f5f4d7 0px 1px 1px;
	letter-spacing: -1px;
	
	/* -webkit-border-image divides the rightButton image into three parts. */
	/* The right and left corners of the image are respectively 12 pixels and 5 pixels wide. */
	/* This leaves 1 pixel for the midlle part of the image.		*/
	-webkit-border-image: url(btn_center.png) 0 12 0 5;
}

.hidediv
{
    padding-left: 10px;
    text-align: center;
    display: none;
}

.webkit{overflow:visible}

#navboard {
    background: #C2CFF1;
    height:19px;
    font-size:17px;
    overflow:hidden;
}

#navcon {
    display:inline-block;
    overflow:hidden;
    height:19px;
    line-height:19px;
}

.hBoard {
    text-decoration:none;
    padding:0 4;
}

.highlight {
    text-decoration:underline;
    padding;0 4;
}

#navboard a {text-decoration:none;}

.navleft {
    float:left;
    min-width:30px;
    display:inline-block;
    text-align:center;
    text-decoration:none;
    background: #0099FF;
}
.navright{
    float:right;
    min-width:30px;
    display:inline-block;
    text-align:center;
    text-decoration:none;
    background: #0099FF;
}
#main {
    width:100%;
    position:absolute;
}

#divThreads {
    float:left;
    width:40%;
    height:100%;
    overflow:auto;
}
#divPosts {
    height:100%;
    border-left:solid 1px #c2cff1;
    border-right:solid 1px #c2cff1;
    overflow:auto;
}

#progress {
    font-family: helvetica;
    position:absolute;
    top:0;
    z-index:100;
    color: black;
    text-align: center;
    left: 50%;
    top: 50%;
    margin: -100px 0px 0px -300px;
}

#progress > * {
    background: #C0C0C0 url(progress.gif) center 75% no-repeat;
    -webkit-border-radius:25px;
    opacity:.8;
    position: absolute;
    padding-top: 100px;
    width: 600px;
    height: 100px;
}
